{% set pageTitle = article.title %}

{% extends 'base.html.twig' %}

{% block meta_title article.title ~ ' - ' ~ parent() %}
{% block meta_description article.description %}

{% block content %}
    <main class="article">
        <header>
            {% if article.image %}
                <div class="banner">
                    <img src="{{ article.image }}" alt="{{ article.title }}" />
                </div>
            {% endif %}
            <h1>{{ article.title }}</h1>
        </header>

        {% include 'articles/_toc.html.twig' with { toc: article.tableOfContent } only %}

        <article>
            {{ article.content|raw }}
        </article>

        <footer class="text-end">
            <small>
                Publié le {{ article.publishedAt|date('d/m/Y') }}
                par
                {% for authorSlug in article.authors %}
                    {% set author = content_get('App\\Model\\Author', authorSlug) %}
                    <a href="{{ path('article_list_by_author', { slug: author.slug }) }}">{{ author.name }}</a>
                    {%- if loop.length > 1 -%}
                        {{ loop.revindex0 > 1 ? ', ' : '' }}
                        {{ loop.revindex0 == 1 ? ' et ' : '' }}
                    {% endif %}
                {% endfor %}
            </small>
        </footer>

        <nav class="d-flex justify-content-between">
            <a href="{{ path('article_list') }}" class="btn btn-outline-primary">← Retour à la liste des articles</a>
            {% if article.nextArticle %}
                {% set nextArticle = content_get('App\\Model\\Article', article.nextArticle) %}
                <a href="{{ path('article_show', { slug: nextArticle.slug }) }}" class="btn btn-outline">
                    ➜ Article suivant : « {{ nextArticle.title }} »
                </a>
            {% endif %}
        </nav>
    </main>
{% endblock %}
