{% set pageTitle = article.title %}

{% extends 'base.html.twig' %}

{% block meta_title article.title ~ ' - ' ~ parent() %}
{% block meta_description article.description %}

{% block content %}
    <main class="article">
        <header>
            {% if article.image %}
                <div class="banner">
                    <img src="{{ article.image }}" alt="{{ article.title }}" />
                </div>
            {% endif %}
            <h1>{{ article.title }}</h1>
            <small class="text-body-secondary">{{ 'article.show.published_at'|trans({'date': article.publishedAt|date('d/m/Y')}) }}</small>
        </header>

        {% include 'articles/_toc.html.twig' with { toc: article.tableOfContent } only %}

        <article>
            {{ article.content|raw }}
        </article>

        <footer>
            {% for authorSlug in article.authors %}
                {% set author = content_get('App\\Model\\Author', authorSlug) %}
                {% include 'articles/_author_card.html.twig' with { author: author } only %}
            {% endfor %}
        </footer>

        <nav class="d-flex justify-content-between">
            <a href="{{ path('article_list') }}" class="btn btn-outline-primary">{{ 'article.show.back_to_list'|trans }}</a>
            {% if article.nextArticle %}
                {% set nextArticle = content_get('App\\Model\\Article', article.nextArticle) %}
                <a href="{{ path('article_show', { slug: nextArticle.slug }) }}" class="btn btn-outline-primary">
                    {{ 'article.show.next_article'|trans({'title': nextArticle.title}) }}
                </a>
            {% endif %}
        </nav>
    </main>
{% endblock %}
